body{margin:0;padding:20px 0 0 0;background:#000}
div.fixed{position:absolute;top:0;left:0;width:100%;height:20px;color:#000;background:#dec44d;z-index:2000}
@media screen{UNKNOWN{POSITION:fixed}}
@media screen{body>div.fixed{position:fixed}}

/* Popup menus */
.menu1{position:absolute;z-index:1500;visibility:hidden;top:20px;left:20px;}
.menu2{position:absolute;z-index:1500;visibility:hidden;top:20px;left:20px;}
.menu3{position:absolute;z-index:1500;visibility:hidden;top:20px;left:20px;}
.menu4{position:absolute;z-index:1500;visibility:hidden;top:20px;left:20px;}
.menu5{position:absolute;z-index:1500;visibility:hidden;top:20px;left:20px;}
.menu6{position:absolute;z-index:1500;visibility:hidden;top:20px;left:20px;}
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
	padding: 15px 10px;
	background-color:#000;
	border:4px solid  #C0C0C0;  /* #F7D621; */

	border-radius:20px; 
	-moz-border-radius:20px; 
	-webkit-border-radius:20px; 
	-khtml-border-radius:20px; 
	box-shadow: rgba(0,0,0,0.4) 12px 12px;
	-moz-box-shadow: rgba(0,0,0,0.4) 12px 12px;
	-webkit-box-shadow: rgba(0,0,0,0.4) 12px 12px;
}

/* Use the :link selector to style links to unvisited pages, the :visited selector to style links to visited pages, and the :active selector to style the active link. */
/* rgb(255,255,64), rgb(255,255,250) */
a.PopMenu,a.PopMenu:link,a.PopMenu:visited{color:rgb(255,255,250);background-color:transparent;text-decoration:none}
a.PopMenu:hover,a.PopMenu:active{color:#C0C0C0;background-color:transparent;text-decoration:none}
.PopMenuWordOrig{text-align:center;width:134px;min-width:134px;font-size:14pt;font-family:Arial,Verdana,Helvetica,sans-serif}
.PopMenuWord{text-align:center;min-width:134px;font-size:14pt;font-family:Arial,Verdana,Helvetica,sans-serif}

.menu5 .PopMenuWord{width:174px;min-width:174px;}
.menu5 { height: auto !important;}
.menu6 .PopMenuWord{width:174px;min-width:174px;}

.menu2 .PopMenuWord { width: 160px;}


/* Horizontal Navigation bar at the top */
.navBarTable{height:20px;max-height:20px;overflow-y:hidden;vertical-align:middle;width:100%;}
.navBarTable{border-bottom:1px solid #717171;}
.navBarTable {
background: #DBBF3E; /* old browsers */
background: -moz-linear-gradient(top, #DBBF3E 0%, #E7D37A 50%, #DBBF3E 100%); /* firefox */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DBBF3E), color-stop(50%,#E7D37A), color-stop(100%,#DBBF3E)); /* webkit */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBBF3E', endColorstr='#DBBF3E',GradientType=0 ); /* ie */
}

a.navBar,a.navBar:link,a.navBar:visited{color:#000;font-family:arial,verdana,courier,helvetica,sans-serif;font-size:9pt;text-decoration:none;overflow:hidden;height:20px;max-height:20px}
a.navBar:hover,a.navBar:active{color:#fff;font-family:arial,verdana,courier,helvetica,sans-serif;font-size:9pt;text-decoration:none;overflow:hidden;height:20px;max-height:20px}
.td1{width:20%;text-align:left}
.td2{width:10%;text-align:center}
.td3{width:10%;text-align:center}
.maxH{max-height:20px;overflow:hidden;width:100%}

/*
table {TABLE-LAYOUT:fixed;border-collapse:collapse;}
*/
td{font-family:Tahoma,Arial,Helv;font-size:12px}
.navBarTable td{white-space:nowrap}


/* Dark */
body { background-color: #eee; }
.maxH{max-height:20px;overflow:hidden}		
.navBarTable{height:21px;max-height:21px;overflow:hidden;vertical-align:top}
A.navBar,A.navBar:link,A.navBar:visited{color:#fff;font-family:arial,verdana,courier,helvetica,sans-serif;font-size:9pt;text-decoration:none;overflow:hidden;height:20px;max-height:20px}
A.navBar:hover,A.navBar:active{color:#ccc;font-family:arial,verdana,courier,helvetica,sans-serif;font-size:9pt;text-decoration:none;overflow:hidden;height:20px;max-height:20px}
.navBarTable{background-image:none; border-bottom:1px solid #C0C0C0; background-color:#555; }	

a.navBar { font-family:Arial, Verdana, Tahoma,Helv,serif !important; white-space:nowrap;}
a.navBar { vertical-align:top !important;}
a.navBar, .td2, .td3, .td1 { font-size:10pt !important; font-weight:bold !important; padding:0 !important; margin:0 !important;}
