/* lightbox */

/* body, html { height:100%; } */

#lb_blanket { width:100%; background-color:transparent;  min-height:100%; }
#lb_blanket {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	background-image:url('bg_lines.png');
	background-repeat:repeat;
	z-index:9900;
	-moz-opacity: 0.65;
	opacity:.65;
	filter: alpha(opacity=65);	
	display:none;
}

#lb_closeBtn {	
	color:red; 
	font-size:21px;
	font-family:arial, georgia, verdana, sans-serif;
	font-weight:bold;
	text-align:center;
	padding-bottom:0px;
	vertical-align:middle;
	cursor:pointer;
	background-color:#222;
	position:absolute;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	right:-20px;
	top:-20px;
	width:25px; height:25px; border:5px solid #C0C0C0;
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	-khtml-border-radius:25px; 
	z-index: 99999;
}

#lb_closeBtn:hover {
	color:white;
	font-size:36px;

	right:-25px;
	top:-25px;
	width:40px; height:40px; border:5px solid #C0C0C0;
	border-radius:40px; 
	-moz-border-radius:40px; 
	-webkit-border-radius:40px; 
	-khtml-border-radius:40px; 
}
