#can { border:3px solid #C0C0C0; width:900px;  padding-bottom:0;margin-bottom:0; margin-top:20px; }
#can {
	border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 
	box-shadow: rgba(0,0,0,0.05) 6px 6px;
	-moz-box-shadow: rgba(0,0,0,0.05) 6px 6px;
	-webkit-box-shadow: rgba(0,0,0,0.05) 6px 6px;
}

div#curr_r, div#curr_R, div#curr_d {
    max-width: 100px;
    overflow: hidden;
    position: absolute;
    display: inline-block;
}

div#maxT {
    display: inline-block;
    max-width: 125px;
    margin-left: 4px;
    margin-top: 2px;
    position: absolute;
    overflow: hidden;
    font-size: 10pt;
    font-family: Arial;
}

div#rotateInc {
	/* display:none; */ /* default for Basic */
	display:inline;
}

input#btnRandom {
    display: block;
    position: absolute;
    top: 95px;
    margin-left: -410px;
    width: 80px;
    left: 50%;
	
    position: absolute;
    top: 90px;
    left: 50%;
    width: 80px;
    margin-left: 265px;
}
	
#colorInc {
	margin-top:4px;
	display:block;
}

span#lblT {
    margin-left: 30px;
}
#input_t {
    margin-left: 4px;
}

div#currLoops {
    display: inline-block;
    width: 60px;
    overflow: hidden;
    position: absolute;
    margin-left: 5px;
}	

a#oldSpiro {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 10pt;
    color: black;
}

div#loopsCusps {
	display:inline-block;
}

#lbl_rotateInc {
	margin-left:10px;
}
.centerMe { margin-left:auto; margin-right:auto; text-align:center; display:block; margin-top:0;}
.settingsBlock { height:90px; text-align:left;  border:1px solid #C0C0C0; padding:5px; margin-left:5px; }
.settingsBlock input { text-align:left; width:50px; }
.settings { width:980px;  padding:3px;}

.settings { white-space: nowrap; }
.settingsBlock { display: inline-block; vertical-align:top;}

#settingsBlock_R, #settingsBlock_r, #settingsBlockSimple, #settingsBlock_d, #settingsLissajousSimple { height:90px; text-align:left;  border:1px solid #C0C0C0; padding:5px; margin-left:5px; }
#settingsBlock_R input, #settingsBlock_r input, #settingsBlockSimple input, #settingsBlock_d input , #settingsLissajousSimple input{ text-align:left; width:50px; }
#settingsBlock_R, #settingsBlock_r, #settingsBlockSimple, #settingsBlock_d, #settingsLissajousSimple { display: inline-block; vertical-align:top;}
#settingsLissajousSimple { display:none;}

.settingsBlock2, .settingsBlockAdv { height:103px; text-align:left;  border:1px solid #C0C0C0; padding:5px; margin-left:5px; }
.settingsBlock2 input, .settingsBlockAdv input { text-align:left; width:50px; }
.settingsBlock2, .settingsBlockAdv { display: inline-block; vertical-align:top;}

.settingsBlockClrType, .settingsBlockBackClr { height:130px; text-align:left;  border:1px solid #C0C0C0; padding:5px; margin-left:5px; }
.settingsBlockClrType input, .settingsBlockBackClr input { text-align:left; width:50px; }
.settingsBlockClrType, .settingsBlockBackClr { display: inline-block; vertical-align:top;}
.settingsBlockClrType { padding-bottom:20px; }

#hsvColoringType {
	height:100%; text-align:left;  border:1px solid #C0C0C0; padding:5px; margin-left:5px; display:inline-block; vertical-align:top;
}

input#input_hueMinPct, input#input_hueMaxPct, input#input_valueMinPct, input#input_valueMaxPct {
    width: 50px;
}

.settingsBlockAdv { height: 40px;}

#clrtype { margin-bottom:5px;}

#hypo, #epi { display:none; position:absolute; width:400px; max-width:400px; 
		height:100px; white-space: normal !important; padding:5px;
		border:1px solid black; background-color:#E0E0E0; }

#noCanvasSupport { position:absolute; left:100px; top:100px; display:none;
   width:600px; border:2px solid black; z-index:400; padding:8px; background-color:white; }

#input_advanced { margin-top:5px}

#redStuff, #greenStuff, #blueStuff { display:inline-block; margin-top: 5px;}

#backgroundColors { margin-top:5px; margin-left:15px;}

#input_t { width: 150px; }
#btnPause { width: 30px;}
#btnReset { width: 30px;}

#advPresets { margin-top:8px;}

#mainCtrls { position:absolute; top:25px; left:5px; }

p { margin:0 0 5px 0;}

h1 { margin-top:0; padding-top:10px; text-shadow: 4px 4px 4px #ccc; }		



#instructions { border:3px solid #C0C0C0; background-color:#efefef; z-index:9905; display:none; }
#instructions { padding: 0 10px 10px 10px; }
#instructions { position:absolute; width:500px; margin-left:-250px; left:50%; top:100px; }
#instructions { height:400px; margin-top:-200px; top:50%; }
#instructions {
	border-radius:5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;		
}

#instructions_hdr { position:absolute;width:99%;height:60px;} /* set class="mo_move" */
#instructions_hdr h3 { font-size:16pt; }

#instructions_helpContents { margin-top:60px;margin-bottom:4px;overflow:auto;height:340px;position:absolute;}

#openInstructions { position:absolute; top:90px; left:50%; width:90px; margin-left:355px; text-align:right; }
		
