body {
    background: white;
    color: black;
}
form {
    margin: 0;
}
h1 {
    font-family: Arial, sans-serif;
    line-height: 0.85em;
    border-bottom: 2px solid;
    margin-bottom: 0.33em;
    padding-bottom: 0;
}
#main {
    border-bottom: 1px solid;
    padding-bottom: 0.5em;
}
#uicell {
    width: 25em;
}
#uicell th {
    width: 6em;
    text-align: right;
    padding-right: 0.5em;
    border: 1px solid black;
    border-width: 0 1px 1px 0;
}
#uicell td {
    padding: 0 0 0 0.5em;
}
#uicell td.pal {
    padding: 0 3em;
}
#uicell #gobuttons td {
    height: 1.5em;
}
input,
#input a {
    font: 0.85em "Andale Mono", Courier, monospace;
}
#input,
#output {
    margin: 0 0 1em;
}
#input td {
    white-space: nowrap;
}
#input a {
    border: 2px outset silver;
    background: silver;
    padding: 1px 0.25em;
    cursor: pointer;
}
#input .coltype {
    background: #EEE;
    border-style: inset;
}
#output input {
    border: 2px solid white;
    border-width: 0 2px;
}
#output td.text {
    border-bottom: 1px dotted silver;
}
#watercell {
    width: 75px;
    background: silver;
    padding: 0;
}
#grid {
    background: black;
    border: 1px solid black;
    border-width: 0 1px 1px 0;
    margin: 5px 4px;
}
#grid td {
    height: 19px;
    width: 19px;
    padding: 0;
    line-height: 11px;
}
#grid td a {
    display: block;
    height: 18px;
    width: 18px;
    line-height: 10px;
    border: 1px solid black;
    border-width: 1px 0 0 1px;
}
#textcell p {
    margin: 0;
    padding: 0 1em 1em 1.5em;
}
#footer {
    color: #999;
    font: italic 75% sans-serif;
}
#footer p {
    margin: 0 0 1em 0;
}
#footer img {
    float: right;
    margin: 0 0 0.5em 2em;
}
