body {
	font-size: 80%;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	background: #ffffff;
	color: #000000;
}
a:link {
	background: transparent; 
	color: #0000ff;
}
a:visited {
	color: #800080;
}
p {
	text-align: justify;
}
h1 {
	font-weight: bold;
	font-size: 55%;
	margin-bottom: -2.2em;
}
h3 {
	font-size: 125%;
}
li {
	margin-top: 4pt;
	margin-left: -5pt;
}
ul li {
	padding-top: 4pt;
}
ol li {
	padding-bottom: 4pt;
}
ol ul {
	margin-top: 0;
	list-style: disc;
}		
.Note {
	font-family: Times New Roman;
}
pre {
	font-family: Courier;
}
table {
	width: auto;
	text-align: left;
	font-size: 95%;
}
th {
	text-align: center;
}
td {
	margin-right: 0;
}
img {
	margin-top: 1pt;
}
nobr {
	color: darkblue;
}
.nobr {
	color: darkblue;
	white-space: nowrap;
}
.nbt {
	color: black;
	white-space: nowrap;
}
.T {
	color: black;
}
.reftable {
	border-right: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-collapse: collapse;
	background-color: #ffffff;
}
.reftable th {
	vertical-align: top;
	background-color: #eeeeee;
	text-align: center;
	border-right: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding: 4px;
}
.reftable td {
	border-right: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding: 4px;
}
table.faq {
	width: 100%;
	border: none;
}
table.faq tr {
	vertical-align: top;
}
table.faq td {
	padding: 3px;
}
table.faq p {
	margin-top: 0;
	margin-bottom: 0;
}
p.lnk {
	text-align: center;
	font-size: 20px;
}
ul.lst {
	margin-top: 14px;
	margin-bottom: 14px;
}
ul.lst li {
	padding-top: 0;
}
table.crypt {
	border: none;
	border-collapse: collapse;
}
table.crypt tr {
	vertical-align: bottom;
}
table.crypt td {
	padding: 5px;
}
table.abbr {
	border: none;
	border-collapse: collapse;
}
table.abbr td {
	padding: 3px;
}