body {font-size: 12pt; font-family: Arial; background: #c8eaf2;}
a:link {color: #2244ff; text-decoration: underline;}
a:visited {color: #9900cc; text-decoration: underline;}
a:active {color: #3366ff; text-decoration: underline;}
a:hover {color: #2288ff;}
span {color: #909090;}